{% extends "admin-layout.html" %} {% block content %}
<div class="display container">
    <div class="row">
      <div class="col">
              <div class="card item-card shadow-lg">
                <div class="card-header" style="text-align: center">
                  <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
                </div>
                <a href="/addItem" class="btn btn-dark"
                  >Add Item</a
                >
              </div>
      </div>
      <div class="col">
              <div class="card item-card shadow-lg">
                <div class="card-header" style="text-align: center">
                  <i class="fa fa-times fa-5x" aria-hidden="true"></i>
                </div>
                <a href="/removeItem" class="btn btn-dark"
                  >Remove Item</a
                >
              </div> 
    </div>
    </div>
    </div>


</div>
<div>{% endblock content %}</div>