{% extends "layout.html" %} {% block content %}
<div class="card display main-card shadow">

	<h4>{{categoryName}}:</h4>
	<div class="item-container">
	{% for itemData in data %}
	

			{% for row in itemData %}
			<div class="card text-center item-card shadow-lg">
				<div class="card-header">
					{{row[1]}}
				</div>
				<div class="card-body">
					<p class="card-text">
							<img src={{ url_for('static', filename='uploads/' + row[3]) }} id="itemImage" />
					  </p>
				  <span><a href="/productDescription?productId={{row[0]}}" class="btn btn-primary shadow">Add To Cart</a></span>
				</div>
				<div class="card-footer text-muted">	
					Rs. {{row[2]}}
				</div>
			  </div>
			{% endfor %}

	{% endfor %}
</div>
</div>
</div>
<div>{% endblock content %}</div>
