{% extends "layout.html" %} {% block content %}
    <div class="display container">
      <div class="card shadow-lg">
        <div class="card-header">Your Profile</div>
        <div class="card-body">
          <form action="/updateProfile" method="POST">
            <div class="row">
              <div class="col">
                <div class="input-group mb">
                  <div class="input-group-prepend full">
                    <span class="input-group-text btn-primary"
                      ><i class="fa fa-arrow-circle-right" aria-hidden="true"
                        >&nbsp;&nbsp;</i
                      >Email</span
                    >
                  </div>
                  <input
                    type="text"
                    name="email"
                    class="form-control"
                    value="{{profileData[1]}}"
                  />
                </div>
                <div class="input-group mb">
                  <div class="input-group-prepend full">
                    <span class="input-group-text btn-primary"
                      ><i class="fa fa-arrow-circle-right" aria-hidden="true"
                        >&nbsp;&nbsp;</i
                      >First Name</span
                    >
                  </div>
                  <input
                    type="text"
                    name="firstName"
                    class="form-control"
                    value="{{profileData[2]}}"
                  />
                </div>

                <div class="input-group mb">
                  <div class="input-group-prepend full">
                    <span class="input-group-text btn-primary"
                      ><i class="fa fa-arrow-circle-right" aria-hidden="true"
                        >&nbsp;&nbsp;</i
                      >Last Name</span
                    >
                  </div>
                  <input
                    type="text"
                    name="lastName"
                    class="form-control"
                    value="{{profileData[3]}}"
                  />
                </div>

                <div class="input-group mb">
                  <div class="input-group-prepend full">
                    <span class="input-group-text btn-primary"
                      ><i class="fa fa-arrow-circle-right" aria-hidden="true"
                        >&nbsp;&nbsp;</i
                      >Address 1</span
                    >
                  </div>
                  <input
                    type="text"
                    name="address1"
                    class="form-control"
                    value="{{profileData[4]}}"
                  />
                </div>
                <div class="input-group mb">
                  <div class="input-group-prepend full">
                    <span class="input-group-text btn-primary"
                      ><i class="fa fa-arrow-circle-right" aria-hidden="true"
                        >&nbsp;&nbsp;</i
                      >Address 2</span
                    >
                  </div>
                  <input
                    type="text"
                    name="address2"
                    class="form-control"
                    value="{{profileData[5]}}"
                  />
                </div>
              </div>
              <div class="col">
                <div class="input-group mb">
                  <div class="input-group-prepend full">
                    <span class="input-group-text btn-primary"
                      ><i class="fa fa-arrow-circle-right" aria-hidden="true"
                        >&nbsp;&nbsp;</i
                      >Zip Code</span
                    >
                  </div>
                  <input
                    type="text"
                    name="zipcode"
                    class="form-control"
                    value="{{profileData[6]}}"
                  />
                </div>
                <div class="input-group mb">
                  <div class="input-group-prepend full">
                    <span class="input-group-text btn-primary"
                      ><i class="fa fa-arrow-circle-right" aria-hidden="true"
                        >&nbsp;&nbsp;</i
                      >City</span
                    >
                  </div>
                  <input
                    type="text"
                    name="city"
                    class="form-control"
                    value="{{profileData[7]}}"
                  />
                </div>
                <div class="input-group mb">
                  <div class="input-group-prepend full">
                    <span class="input-group-text btn-primary"
                      ><i class="fa fa-arrow-circle-right" aria-hidden="true"
                        >&nbsp;&nbsp;</i
                      >State</span
                    >
                  </div>
                  <input
                    type="text"
                    name="state"
                    class="form-control"
                    value="{{profileData[8]}}"
                  />
                </div>
                <div class="input-group mb">
                  <div class="input-group-prepend full">
                    <span class="input-group-text btn-primary"
                      ><i class="fa fa-arrow-circle-right" aria-hidden="true"
                        >&nbsp;&nbsp;</i
                      >Country</span
                    >
                  </div>
                  <input
                    type="text"
                    name="country"
                    class="form-control"
                    value="{{profileData[9]}}"
                  />
                </div>
                <div class="input-group mb">
                  <div class="input-group-prepend full">
                    <span class="input-group-text btn-primary"
                      ><i class="fa fa-arrow-circle-right" aria-hidden="true"
                        >&nbsp;&nbsp;</i
                      >Phone</span
                    >
                  </div>
                  <input
                    type="text"
                    name="phone"
                    class="form-control"
                    value="{{profileData[10]}}"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <input
                  type="submit"
                  class="form-control btn btn-secondary shadow"
                  value="Save"
                />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div>{% endblock content %}</div>
