
    {% extends "layout.html" %} {% block content %}


    <div class="display container">
      <div class="row">
        <div class="col">
          <div class="card shadow-lg">
            <div class="card-header" style="text-align: center">
              <i class="fa fa-user fa-5x" aria-hidden="true"></i>
            </div>
            <a href="/account/profile/view" class="btn btn-primary"
              >View Profile</a
            >
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg">
            <div class="card-header" style="text-align: center">
              <i class="fa fa-user-plus fa-5x" aria-hidden="true"></i>
            </div>
            <a href="/account/profile/edit" class="btn btn-primary"
              >Edit Profile</a
            >
          </div>
        </div>
        <div class="col">
          <div class="card shadow-lg">
            <div class="card-header" style="text-align: center">
              <i class="fa fa-key fa-5x" aria-hidden="true"></i>
            </div>
            <a href="/account/profile/changePassword" class="btn btn-primary"
              >Change password</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>{% endblock content %}</div>
