body {
  font-family: "Noto", Sans;
  width: 100%;
  margin: 0;
  padding: 0;
}
.nav {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
}

.title {
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: #6cb3db;
}

.title h1 {
  text-transform: uppercase;
}

.content {
  text-align: center;
  padding-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
}

.content h2,
h4 {
  color: #6cb3db;
}

.button {
  height: 25px;
  width: 130px;
  color: #fff;
  border-radius: 2px;
  border-color: rgba(46, 46, 46, 255);
  background-color: rgba(46, 46, 46, 255);
  transition-duration: 0.4s;
}

.button:hover {
  background-color: dimgrey;
  border-color: dimgrey;
  color: white;
}

.button span {
  text-transform: uppercase;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 12.5%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.col-2,
.col-3 {
  float: left;
  padding: 15px;
}

.col-2 p {
  font-size: 0.75em;
}

.fa {
  color: #6cb3db;
}
