$font: Helvetica, sans-serif;
$font-header-weight: 20;
$font-alert-weight: 800;
$font-color: #222;
$success-color: #b7c11e;
$warning-color: #e2a74e;
$error-color: #e63e24;
$shadow-color: rgba(0, 0, 0, 0.5);
