body {
  font-family: "Shippori Antique B1", sans-serif;
  margin: 0;
  padding: 0;
}

.nav {
  width: 85%;
  background-color: #ffffff;
  margin: auto;
  text-align: center;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  font-size: 14px;
  color: dimgrey;
  text-transform: uppercase;
}

.nav ul li a::after {
  content: "";
  height: 3px;
  width: 0;
  background: #6cb3db;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

.nav ul li a:hover::after {
  width: 100%;
}

.nav a:hover::after {
  color: #6cb3db;
}

.title {
  height: 300px;
  width: 100%;
  text-align: center;
  background-color: #6cb3db;
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
}

.title h1 {
  text-transform: uppercase;
}

.content {
  text-align: center;
  padding-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
}

.content h2,
h4 {
  color: #6cb3db;
}

.button {
  height: 25px;
  width: 130px;
  color: #fff;
  border-radius: 2px;
  border-color: rgba(46, 46, 46, 255);
  background-color: rgba(46, 46, 46, 255);
  transition-duration: 0.4s;
}

.button:hover {
  background-color: dimgrey;
  border-color: dimgrey;
  color: white;
}

.button span {
  text-transform: uppercase;
}

.row {
  width: 100%;
  text-align: center;
}

.col-2 {
  width: 12.5%;
}
.col-3 {
  width: 25%;
}

.col-2,
.col-3 {
  float: left;
  padding: 15px;
}

.col-2 p {
  font-size: 0.75em;
  color: dimgrey;
}

.fa {
  color: #6cb3db;
}
